nav {
  display:block;
  justify-content: space-between;
  background-image: url("BU-too.jpg");
  background-repeat: no-repeat;
  background-position:bottom;
  background-size: cover;
  height:400px;
}
a {
  text-decoration: none;
  color:brown;
}

/*
nav {
  position:fixed;
  top: 0;
  z-index: 1030;
  background-color: white;
  width:100%;

  box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 20%);
}
*/

section {
  margin-top: 140px;
}

.nav-links {
  display: flex;
  vertical-align: text-top;
  margin-right: 50px;
  font-family: 'Lato', sans-serif;
}

.nav-link {
  margin: 0 1.5vw 0 1.5vw;
  font-size: 1.25rem;
  color: brown;
}

.nav-link {
  background: linear-gradient(to right, rgb(243, 112, 112), rgb(243, 112, 112) 50%, brown 50%);
  overflow: hidden;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;

}
.nav-link:hover {
  background-position: 0 100%;

}
.home-icon {
  align-items: center;
  position: relative;
  top:170px;

}
#main-title {
  margin:0px;
  color:white;
  text-align: center;
}

#title {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 3.3rem;
  margin:0px;
  
}

#sub-title {
  margin: 0px 0px 15px 17px;
}

.animate-title-box {
  display: inline;
  font-size: 3.3rem;
}

span {
  display: inline-block;
  font-weight: bolder;
  animation: mover 5s linear infinite;
  color: white;
}


section{
  display: flex;
  justify-content: space-between;
}

.resources {
  text-align: center;
  margin: 40px 50px 0px 0px;
  border-style: solid;
  width: 35vw;
}

.responses-div {
  margin: 40px 30px 0px 40px;
  overflow-wrap: break-word;
  max-width: 570px;
}

.each-response {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(197, 204, 214);
  margin: 25px 0px 25px 0px;
  padding: 20px;
}

#input-signature {
  width: 300px;
  display: block;
}

.form-container {
  display:block;
  width: 700px;
}

#story-form {
  display: block;
}

#grade-select {
  display: block;
  width: 300px;
}

#input-grade {
  margin: 0px 50px 50px 15px;
}

#input-story {
  display: block;

  margin: 0px 20px 30px 15px;
}

#story-box {
  width: 400px;
}