nav {
  display:block;
  justify-content: space-between;
  background-image: url("BU-too.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y:bottom;
  background-size: cover;
  height:400px;
}

a {
  text-decoration: none;
  color:white;
}

section {

}

.nav-links {
  display: flex;
  float: right;
  vertical-align: text-top;
  margin-right: 50px;
  font-family: 'Lato', sans-serif;
  margin-top: 20px;
}

.nav-link {
  margin: 0 1.5vw 0 1.5vw;
  font-size: 1.25rem;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;

}
.nav-link:hover {
  background-position: 0 100%;

}
.home-icon {
  display: flex;
  justify-content: center;
  top:170px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  width: 300px;

}

.title {
  text-align: center;
  color: white;
}

#title {
  font-size: 4.5rem;
  margin: 0;
}
#subtitle {
  margin:10px 0 0 0;
}
.home-icon {
  align-self: center;
}
section{
  display: flex;
  justify-content: space-between;
}



.responses-div {
  margin: 40px 30px 0px 40px;
  overflow-wrap: break-word;
  max-width: 570px;
}

.each-response {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(197, 204, 214);
  margin: 25px 0px 25px 0px;
  padding: 20px;
}

#input-signature {
  width: 300px;
  display: block;
}

.form-container {
  display:block;
  width: 700px;
}

#story-form {
  display: block;
}

#grade-select {
  display: block;
  width: 300px;
}

#input-grade {
  margin: 0px 50px 50px 15px;
}

#input-story {
  display: block;

  margin: 0px 20px 30px 15px;
}

#story-box {
  width: 400px;
}